<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doument</title>
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/styles/userFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> --}}
    <link
      rel="stylesheet"
      {{!-- href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" --}}
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="../styles/navbar.css"> --}}
    {{!-- <link rel="stylesheet" href="./styles/form.css"> --}}
</head>
<body>
{{#if admin}}
  {{>adminNav2}}
  {{{body}}}
{{else if user}}
  {{>userNav}}
  {{{body}}}
  {{>footer}}
{{else}}
  {{{body}}}
{{/if}}

 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded",()=>{
       
        var sidebarContainer = document.querySelector('.sidebar-container');
  var footer = document.querySelector('.footer');
  var sidebarHeight = sidebarContainer.offsetHeight;
  var footerOffset = footer.offsetTop;
  var scrollPosition = window.scrollY;
  var isScrollingUp = false;
  var prevScrollPosition = scrollPosition;

  window.addEventListener('scroll', function() {
    scrollPosition = window.scrollY;

    // Determine scrolling direction
    if (scrollPosition < prevScrollPosition) {
      isScrollingUp = true;
    } else {
      isScrollingUp = false;
    }

    // Update previous scroll position
    prevScrollPosition = scrollPosition;

    // Scroll down: Move sidebar up
    if (!isScrollingUp && scrollPosition + sidebarHeight >= footerOffset) {
      sidebarContainer.style.transform = 'translateY(' + (footerOffset - scrollPosition - sidebarHeight) + 'px)';
    }

    // Scroll up: Adjust sidebar position
    if (isScrollingUp) {
      if (scrollPosition <= footerOffset - sidebarHeight) {
        sidebarContainer.style.transform = 'translateY(0)';
      } else if (scrollPosition < footerOffset) {
        sidebarContainer.style.transform = 'translateY(' + (footerOffset - scrollPosition - sidebarHeight) + 'px)';
      }
    }
  });
    })
  AOS.init();
</script>  
 
</script>
</body>
</html>